# Relationships between Different Vehicle Variables

In [1]:
#import dependencies
import pandas as pd

In [2]:
#Read in cleaned csv file
file_df  = pd.read_csv("data/vehicles_cleaned.csv")

In [3]:
file_df.head()

,price,year,manufacturer,fuel,odometer,title_status,transmission,drive,type,lat,long
0,10299,2012.0,acura,gas,90186.0,clean,automatic,NaN,other,35.7636,-78.7443
1,9500,2011.0,jaguar,gas,85000.0,clean,automatic,NaN,NaN,36.1032,-79.8794
2,3995,2004.0,honda,gas,212526.0,clean,automatic,fwd,SUV,35.7636,-78.7443
3,12995,2015.0,kia,gas,85127.0,clean,automatic,4wd,wagon,35.7636,-78.7443
4,10995,2014.0,chevrolet,gas,112383.0,clean,automatic,fwd,SUV,35.7636,-78.7443

In [4]:
#show the correlation between "price", "year", "odometer", "lat" and "long" (location) using .corr()
corr_df = file_df[["price", "year", "odometer", "lat", "long"]].corr().reset_index()

## Correlation Matrix

In [5]:
corr_df.head()

      index     price      year  odometer       lat      long
0     price  1.000000  0.491881 -0.513521  0.032214 -0.140237
1      year  0.491881  1.000000 -0.452431 -0.004859 -0.010850
2  odometer -0.513521 -0.452431  1.000000  0.028707  0.042697
3       lat  0.032214 -0.004859  0.028707  1.000000 -0.170640
4      long -0.140237 -0.010850  0.042697 -0.170640  1.000000

In [6]:
#melt the df to have identifier variables and measured variables. 
#this will be useful once we inport the data in Tableau to do some visuals there
df_melted = pd.melt(corr_df, id_vars = ["index"])

### *Melted data*

In [7]:
df_melted.head()

      index variable     value
0     price    price  1.000000
1      year    price  0.491881
2  odometer    price -0.513521
3       lat    price  0.032214
4      long    price -0.140237

In [8]:
#export to csv
df_melted.to_csv("data/vehicles_correlation.csv")

### Findings 


* As expected, the matrix shows how "price" and "year" are **positively** correlated
* It also shows how "odometer" is **negatively** correlated to "price"